<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--<add key="DBType" value="MYSQL"/>
		<add key="ConnectionString" value="Host=127.0.0.1;Port=3306;User Id=root;Password=root;Database=daltest" />-->
		<!--<add key="DBType" value="ORACLE"/>
		<add key="ConnectionString" value="Data Source=DALTest;user id=gsauser;password=gsauser123;" />-->
		<add key="DBType" value="SQL"/>
		<add key="ConnectionString" value="Data Source=.;Initial Catalog=AdventureWorks;User ID=sa; Password=sa123; Persist Security Info = false; Packet Size = 4096"/>

		<add key="Assesmbly" value="bin\EasyWinApp.dll"/>
		<add key="ProjectPath" value="D:\EasyData\EasyWinApp\"/>
	</appSettings>
</configuration>